.resume-container {
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.resume-title-wrapper {
  margin-bottom: 18px;
}

.resume-title {
  font-size: 24px;
  /* margin-bottom: 12px; */
  /* padding-bottom: 12px; */
}
