.area {
  width: 100%;
  // height: 100%;
  box-sizing: border-box;
  padding-top: 6px;
}

.title {
  margin-top: 0;
  color: #eee;
}

.contents {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 12px;
}
